@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
  padding-top: 30px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
}

.collections-container {
  padding: 20px;
}

.collection-heading {
  font-size: 3em;
  margin-bottom: 20px; /* Space between heading and cards */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-radius: 8px;
}

.collection-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  height: 100%;
  transition: transform 0.2s ease;
}

.collection-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  flex-grow: 1;
}

.collection-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
  margin-bottom: 0;
}

.collection-card:hover {
  transform: scale(1.05);
}
