.chat-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5117c4;
    color: rgb(203, 167, 179);
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
}

.chat-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px; /* Increased width */
    height: 450px; /* Height remains unchanged */
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: #7b708f;
    display: flex;
    flex-direction: column;
}



.chat-header {
    background-color: #5117c4;
    color: rgb(203, 167, 179);
    padding: 15px;
    text-align: center;
    border-radius: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-body {
    flex: 1;
    padding: 5px;
    overflow-y: auto;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #c97878;
    margin-right: 5px;
    background-color: #b7b3c1;
    color: #1b233a;
}

/* .chat-footer button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
} */

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.chat-message.user {
    /* background-color: #007bff; */
    color: rgb(19, 37, 232);
    align-self: flex-end;
    font-size:20px;
    align-content: end;
    text-align: left;
    padding: 0cm;
}

.chat-message.bot {
    background-color: #8895d9;
    align-self:flex-end;
    align-content: end;
    font-size:20px;
    font-stretch: expanded;
    font-style: italic;
    /* text-align: end; */
    padding: 0cm;
    left: 0;
}