.navbar {
    background-color: #8383b2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #1d3557;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-brand:hover {
    color: #32168c;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #1d3557;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    /* transition: color 0.3s ease; */
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #a33b97;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    .navbar-brand {
      margin-bottom: 20px;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }